/* Estilos generales */
body {
    font-family: 'Arial', sans-serif;
    background-color: #f4f4f4; /* Fondo gris claro */
    color: #333; /* Color de texto */
    margin: 0;
    padding: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    min-height: 100vh;
}

/* Encabezado principal */
h1 {
    font-size: 2.5em;
    color: #FF6347; /* Color del encabezado */
    text-align: center;
    margin-bottom: 20px;
}

/* Estilos del formulario */
form {
    background-color: #fff; /* Fondo blanco */
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1); /* Sombra suave */
    max-width: 400px;
    width: 100%;
    margin-bottom: 30px;
}

label {
    font-size: 1.2em;
    margin-bottom: 10px;
    display: block;
    color: #333;
}

input[type="text"] {
    width: calc(100% - 20px);
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #ddd;
    border-radius: 5px;
    font-size: 1em;
}

button {
    background-color: #FF6347; /* Color del botón */
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    font-size: 1em;
    cursor: pointer;
    transition: background-color 0.3s;
}

button:hover {
    background-color: #FF4500; /* Color de fondo al pasar el cursor */
}

/* Estilos para la lista de productos */
h2 {
    font-size: 2em;
    color: #333;
    margin-top: 40px;
    text-align: center;
}

ul#productList {
    list-style-type: none;
    padding: 0;
    margin: 0;
    max-width: 600px;
    width: 100%;
}

ul#productList li {
    background-color: #fff; /* Fondo blanco */
    margin-bottom: 10px;
    padding: 15px;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* Sombra suave */
    display: flex;
    justify-content: space-between;
    align-items: center;
    transition: transform 0.2s;
}

ul#productList li:hover {
    transform: scale(1.02); /* Efecto de agrandamiento al pasar el cursor */
}

ul#productList li a {
    text-decoration: none;
    color: #FF6347; /* Color de los enlaces */
    font-weight: bold;
    margin-left: 10px;
}

ul#productList li a.edit:hover {
    color: #FF4500; /* Color de los enlaces al pasar el cursor */
}

/* Responsive Design */
@media (max-width: 768px) {
    form {
        max-width: 90%;
        margin-bottom: 20px;
    }

    ul#productList {
        max-width: 90%;
    }
}
